button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;


}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.cover-photo{

  background-image: url(images/coverPhoto.jpg); 
  width: 1330px;
  height: 460px;
  background-size: 100%;
}

#entry1{

 position: absolute;
 bottom:90px;
  z-index: 12px;
  left: 120px;
/*  background-color: rgba(128,0,0,.25);*/
/*background-color: white;
*/background-color: rgba(255,255,255,.88);
 /* color: rgb(38, 38, 38);*/
 color:maroon;
  border: solid black 2.5px;
  height: 70px;
  width: 220px;
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
}

#entry2{


 position: absolute;
 bottom:92px;
left: 546px;
  z-index: 12px;
/*  background-color: rgba(128,0,0,.25);

*/  
/*background-color: white;*/
background-color: rgba(255,255,255,.88);
color:maroon;
/*color: rgb(38, 38, 38);*/
  border: solid black 2.5px;
  height: 70px;
  width: 220px;
  font-size: 30px;
  font-family: 'Great Vibes', cursive;

}

#latest-heading{

  width: 300px;
  border-bottom: solid Maroon 3px;
  border-top: solid Maroon 3px;
  font-size: 32px;
  padding-left: 91px;
  padding-top: 3px;
    font-family: 'Great Vibes', cursive;
    margin-left: 377px;
    margin-top: 30px;

}
.entry-panel{

  background-color: rgba(45, 22, 6, 1);
  border: solid #2d1606 3px;
  border-bottom: solid white 1px;
  padding: 0px 5px 0px 5px;
  height:50px;
  overflow: scroll;



}

.entry-date{
  font-size: 22px;
/*  color:rgb(142,131,122);*/
color: rgb(146,139,133);
/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Great Vibes', cursive;*/
font-family: 'Nixie One', cursive;
/*font-family: 'Cutive Mono', monospace;*/
/*font-family: 'The Girl Next Door', cursive;*/


}

.entry-display-div{
  border: solid maroon 3px;
  border-top: solid white 3px;
   font-size: 16.3px;
/*   font-family: 'Great Vibes', cursive;
font-family: 'Nixie One', cursive;
font-family: 'Cutive Mono', monospace;*/
font-family: 'The Girl Next Door', cursive;



}

.entry-delete{

  color:gold;
  background-color: black;
  height:18px;
  width:10px;
  font-size: 12px;


}


.entry-edit{
   color:gold;
  background-color: black;
  height:18px;
  width:10px;
  font-size: 12px;


}